################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/__pycache__/SoCRM_form.cpython-37.pyc
